* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  background-color: lightblue;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

#get-btn {
  background-color: blue;
  color: white;
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 2rem;
}
